@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #fa0606;
  font-weight: 700;
  border-bottom: 3px solid #fa0606;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
